{% extends 'base.html.twig' %}

{% block title %}Formulario
{% endblock %}

{# {% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{asset('css/custom.css')}}" />
{% endblock %} #}



{% block body %}

	<br>
	<div class="container">
		{{form(crearForm)}}
	</div>
{% endblock %}
