{% extends 'base.html.twig' %}

{% block title %}Formulario
{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/customimg.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/footer.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

	<br>
	<div class="container">
		{{form(crearForm)}}
	</div>
{% endblock %}
