{% extends 'base.html.twig' %}

{% block title %}Formulario
{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/customimg.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}

{% block body %}

	<br>
	<div class="container">
		<h1>{{producto.nombre}}</h1>
		<img src="{{asset('img/' ~ producto.imagen)}}"
	</div>
{% endblock %}


