

/* .navbar { 
    background-color: black!important;
    height: auto;
} */

  /* .bg-box {
    height: 2 rem;
    position: absolute;
    top : 0;
    left : 0;

}   */

/* .tituloJuegoCatalogo {
    text-align: center;
    color: darkturquoise;
}
*/
 .footer_section { 
    margin-bottom: -1px;
    width: 100%;
}  

body {
    background-color: #fafafa;
    min-height: 100vh;
}
