

.navbar { 
    background-color: black!important;
    height: auto;
}

 /* .bg-box {
    position: relative;
}  */

/* .tituloJuegoCatalogo {
    text-align: center;
    color: darkturquoise;
}

.footer_section { 
    position: fixed;
    bottom: 0;
} */